<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">



<!--    Так как мы убрали здесь объявление scope - то default scope будет singleton -->
    <bean id="myPet"
          class="ru.sokolov.spring.chapter_1_IoC_and_DI.Les_13_Init_and_destroy_methods.Dog1"
          init-method="init"
          destroy-method="destroy"
          scope="prototype">

    </bean>

</beans>